INPUT=/srv/linbo/images/logo/39ef39cf-9848-4766-bb75-6cab64845a06.wim
OUTPUT=/srv/linbo/images/win11_pro/win11_pro.qcow2
INDEX=1
LAYOUT=linuxmuster-partition
DISK_SIZE=80G
TARGET_PARTITION=/dev/disk0p3
NTFS_LABEL=windows
COPY_SIDECARS_FROM=/srv/linbo/images/win11_pro_edu
VERBOSE=true
LOGFILE=/tmp/wim2qcow2.log
